flask==2.3.2
flask-jwt-extended==4.5.1
flask-limiter==3.5.0
argon2-cffi==23.1.0
psycopg2-binary==2.9.9
twilio==8.10.0
pyotp==2.9.0
python-dotenv==1.0.0
requests==2.31.0
python-logstash==0.4.8
gunicorn==21.2.0
python-logstash
flasgger
flask_restx
webauthn
flask-cors
python-jose
google-auth 
google-auth-oauthlib
requests
git+https://github.com/supabase-community/supabase-py
pycryptodome 


